<HTML>
<BODY BGCOLOR="white">
<PRE>
<FONT color="green">001</FONT>    package jcolibri.extensions.textual.IE.common.crn.matrix;<a name="line.1"></a>
<FONT color="green">002</FONT>    <a name="line.2"></a>
<FONT color="green">003</FONT>    <a name="line.3"></a>
<FONT color="green">004</FONT>    import java.io.PrintWriter;<a name="line.4"></a>
<FONT color="green">005</FONT>    import java.text.DecimalFormat;<a name="line.5"></a>
<FONT color="green">006</FONT>    import java.text.DecimalFormatSymbols;<a name="line.6"></a>
<FONT color="green">007</FONT>    import java.text.NumberFormat;<a name="line.7"></a>
<FONT color="green">008</FONT>    import java.util.Locale;<a name="line.8"></a>
<FONT color="green">009</FONT>    <a name="line.9"></a>
<FONT color="green">010</FONT>    /**<a name="line.10"></a>
<FONT color="green">011</FONT>       Jama = Java Matrix class.<a name="line.11"></a>
<FONT color="green">012</FONT>    &lt;P&gt;<a name="line.12"></a>
<FONT color="green">013</FONT>       The Java Matrix Class provides the fundamental operations of numerical<a name="line.13"></a>
<FONT color="green">014</FONT>       linear algebra.  Various constructors create Matrices from two dimensional<a name="line.14"></a>
<FONT color="green">015</FONT>       arrays of double precision floating point numbers.  Various "gets" and<a name="line.15"></a>
<FONT color="green">016</FONT>       "sets" provide access to submatrices and matrix elements.  Several methods <a name="line.16"></a>
<FONT color="green">017</FONT>       implement basic matrix arithmetic, including matrix addition and<a name="line.17"></a>
<FONT color="green">018</FONT>       multiplication, matrix norms, and element-by-element array operations.<a name="line.18"></a>
<FONT color="green">019</FONT>       Methods for reading and printing matrices are also included.  All the<a name="line.19"></a>
<FONT color="green">020</FONT>       operations in this version of the Matrix Class involve real matrices.<a name="line.20"></a>
<FONT color="green">021</FONT>       Complex matrices may be handled in a future version.<a name="line.21"></a>
<FONT color="green">022</FONT>    &lt;P&gt;<a name="line.22"></a>
<FONT color="green">023</FONT>       Five fundamental matrix decompositions, which consist of pairs or triples<a name="line.23"></a>
<FONT color="green">024</FONT>       of matrices, permutation vectors, and the like, produce results in five<a name="line.24"></a>
<FONT color="green">025</FONT>       decomposition classes.  These decompositions are accessed by the Matrix<a name="line.25"></a>
<FONT color="green">026</FONT>       class to compute solutions of simultaneous linear equations, determinants,<a name="line.26"></a>
<FONT color="green">027</FONT>       inverses and other matrix functions.  The five decompositions are:<a name="line.27"></a>
<FONT color="green">028</FONT>    &lt;P&gt;&lt;UL&gt;<a name="line.28"></a>
<FONT color="green">029</FONT>       &lt;LI&gt;Cholesky Decomposition of symmetric, positive definite matrices.<a name="line.29"></a>
<FONT color="green">030</FONT>       &lt;LI&gt;LU Decomposition of rectangular matrices.<a name="line.30"></a>
<FONT color="green">031</FONT>       &lt;LI&gt;QR Decomposition of rectangular matrices.<a name="line.31"></a>
<FONT color="green">032</FONT>       &lt;LI&gt;Singular Value Decomposition of rectangular matrices.<a name="line.32"></a>
<FONT color="green">033</FONT>       &lt;LI&gt;Eigenvalue Decomposition of both symmetric and nonsymmetric square matrices.<a name="line.33"></a>
<FONT color="green">034</FONT>    &lt;/UL&gt;<a name="line.34"></a>
<FONT color="green">035</FONT>    &lt;DL&gt;<a name="line.35"></a>
<FONT color="green">036</FONT>    &lt;DT&gt;&lt;B&gt;Example of use:&lt;/B&gt;&lt;/DT&gt;<a name="line.36"></a>
<FONT color="green">037</FONT>    &lt;P&gt;<a name="line.37"></a>
<FONT color="green">038</FONT>    &lt;DD&gt;Solve a linear system A x = b and compute the residual norm, ||b - A x||.<a name="line.38"></a>
<FONT color="green">039</FONT>    &lt;P&gt;&lt;PRE&gt;<a name="line.39"></a>
<FONT color="green">040</FONT>          double[][] vals = {{1.,2.,3},{4.,5.,6.},{7.,8.,10.}};<a name="line.40"></a>
<FONT color="green">041</FONT>          Matrix A = new Matrix(vals);<a name="line.41"></a>
<FONT color="green">042</FONT>          Matrix b = Matrix.random(3,1);<a name="line.42"></a>
<FONT color="green">043</FONT>          Matrix x = A.solve(b);<a name="line.43"></a>
<FONT color="green">044</FONT>          Matrix r = A.times(x).minus(b);<a name="line.44"></a>
<FONT color="green">045</FONT>          double rnorm = r.normInf();<a name="line.45"></a>
<FONT color="green">046</FONT>    &lt;/PRE&gt;&lt;/DD&gt;<a name="line.46"></a>
<FONT color="green">047</FONT>    &lt;/DL&gt;<a name="line.47"></a>
<FONT color="green">048</FONT>    <a name="line.48"></a>
<FONT color="green">049</FONT>    @author The MathWorks, Inc. and the National Institute of Standards and Technology.<a name="line.49"></a>
<FONT color="green">050</FONT>    @version 5 August 1998<a name="line.50"></a>
<FONT color="green">051</FONT>    */<a name="line.51"></a>
<FONT color="green">052</FONT>    <a name="line.52"></a>
<FONT color="green">053</FONT>    public class FloatMatrix implements Cloneable, java.io.Serializable, Matrix {<a name="line.53"></a>
<FONT color="green">054</FONT>    <a name="line.54"></a>
<FONT color="green">055</FONT>    /* ------------------------<a name="line.55"></a>
<FONT color="green">056</FONT>       Class variables<a name="line.56"></a>
<FONT color="green">057</FONT>     * ------------------------ */<a name="line.57"></a>
<FONT color="green">058</FONT>    <a name="line.58"></a>
<FONT color="green">059</FONT>        private static final long serialVersionUID = 1L;<a name="line.59"></a>
<FONT color="green">060</FONT>    <a name="line.60"></a>
<FONT color="green">061</FONT>    /** Array for internal storage of elements.<a name="line.61"></a>
<FONT color="green">062</FONT>       @serial internal array storage.<a name="line.62"></a>
<FONT color="green">063</FONT>       */<a name="line.63"></a>
<FONT color="green">064</FONT>       private float[][] A;<a name="line.64"></a>
<FONT color="green">065</FONT>    <a name="line.65"></a>
<FONT color="green">066</FONT>       /** Row and column dimensions.<a name="line.66"></a>
<FONT color="green">067</FONT>       @serial row dimension.<a name="line.67"></a>
<FONT color="green">068</FONT>       @serial column dimension.<a name="line.68"></a>
<FONT color="green">069</FONT>       */<a name="line.69"></a>
<FONT color="green">070</FONT>       private int m, n;<a name="line.70"></a>
<FONT color="green">071</FONT>    <a name="line.71"></a>
<FONT color="green">072</FONT>    /* ------------------------<a name="line.72"></a>
<FONT color="green">073</FONT>       Constructors<a name="line.73"></a>
<FONT color="green">074</FONT>     * ------------------------ */<a name="line.74"></a>
<FONT color="green">075</FONT>    <a name="line.75"></a>
<FONT color="green">076</FONT>       /** Construct an m-by-n matrix of zeros. <a name="line.76"></a>
<FONT color="green">077</FONT>       @param m    Number of rows.<a name="line.77"></a>
<FONT color="green">078</FONT>       @param n    Number of colums.<a name="line.78"></a>
<FONT color="green">079</FONT>       */<a name="line.79"></a>
<FONT color="green">080</FONT>    <a name="line.80"></a>
<FONT color="green">081</FONT>       public FloatMatrix (int m, int n) {<a name="line.81"></a>
<FONT color="green">082</FONT>          this.m = m;<a name="line.82"></a>
<FONT color="green">083</FONT>          this.n = n;<a name="line.83"></a>
<FONT color="green">084</FONT>          A = new float[m][n];<a name="line.84"></a>
<FONT color="green">085</FONT>       }<a name="line.85"></a>
<FONT color="green">086</FONT>    <a name="line.86"></a>
<FONT color="green">087</FONT>       /** Construct an m-by-n constant matrix.<a name="line.87"></a>
<FONT color="green">088</FONT>       @param m    Number of rows.<a name="line.88"></a>
<FONT color="green">089</FONT>       @param n    Number of colums.<a name="line.89"></a>
<FONT color="green">090</FONT>       @param s    Fill the matrix with this scalar value.<a name="line.90"></a>
<FONT color="green">091</FONT>       */<a name="line.91"></a>
<FONT color="green">092</FONT>    <a name="line.92"></a>
<FONT color="green">093</FONT>       public FloatMatrix (int m, int n, float s) {<a name="line.93"></a>
<FONT color="green">094</FONT>          this.m = m;<a name="line.94"></a>
<FONT color="green">095</FONT>          this.n = n;<a name="line.95"></a>
<FONT color="green">096</FONT>          A = new float[m][n];<a name="line.96"></a>
<FONT color="green">097</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.97"></a>
<FONT color="green">098</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.98"></a>
<FONT color="green">099</FONT>                A[i][j] = s;<a name="line.99"></a>
<FONT color="green">100</FONT>             }<a name="line.100"></a>
<FONT color="green">101</FONT>          }<a name="line.101"></a>
<FONT color="green">102</FONT>       }<a name="line.102"></a>
<FONT color="green">103</FONT>    <a name="line.103"></a>
<FONT color="green">104</FONT>       /** Construct a matrix from a 2-D array.<a name="line.104"></a>
<FONT color="green">105</FONT>       @param A    Two-dimensional array of floats.<a name="line.105"></a>
<FONT color="green">106</FONT>       @exception  IllegalArgumentException All rows must have the same length<a name="line.106"></a>
<FONT color="green">107</FONT>       @see        #constructWithCopy<a name="line.107"></a>
<FONT color="green">108</FONT>       */<a name="line.108"></a>
<FONT color="green">109</FONT>    <a name="line.109"></a>
<FONT color="green">110</FONT>       public FloatMatrix (float[][] A) {<a name="line.110"></a>
<FONT color="green">111</FONT>          m = A.length;<a name="line.111"></a>
<FONT color="green">112</FONT>          n = A[0].length;<a name="line.112"></a>
<FONT color="green">113</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.113"></a>
<FONT color="green">114</FONT>             if (A[i].length != n) {<a name="line.114"></a>
<FONT color="green">115</FONT>                throw new IllegalArgumentException("All rows must have the same length.");<a name="line.115"></a>
<FONT color="green">116</FONT>             }<a name="line.116"></a>
<FONT color="green">117</FONT>          }<a name="line.117"></a>
<FONT color="green">118</FONT>          this.A = A;<a name="line.118"></a>
<FONT color="green">119</FONT>       }<a name="line.119"></a>
<FONT color="green">120</FONT>    <a name="line.120"></a>
<FONT color="green">121</FONT>       /** Construct a matrix quickly without checking arguments.<a name="line.121"></a>
<FONT color="green">122</FONT>       @param A    Two-dimensional array of floats.<a name="line.122"></a>
<FONT color="green">123</FONT>       @param m    Number of rows.<a name="line.123"></a>
<FONT color="green">124</FONT>       @param n    Number of colums.<a name="line.124"></a>
<FONT color="green">125</FONT>       */<a name="line.125"></a>
<FONT color="green">126</FONT>    <a name="line.126"></a>
<FONT color="green">127</FONT>       public FloatMatrix (float[][] A, int m, int n) {<a name="line.127"></a>
<FONT color="green">128</FONT>          this.A = A;<a name="line.128"></a>
<FONT color="green">129</FONT>          this.m = m;<a name="line.129"></a>
<FONT color="green">130</FONT>          this.n = n;<a name="line.130"></a>
<FONT color="green">131</FONT>       }<a name="line.131"></a>
<FONT color="green">132</FONT>    <a name="line.132"></a>
<FONT color="green">133</FONT>       /** Construct a matrix from a one-dimensional packed array<a name="line.133"></a>
<FONT color="green">134</FONT>       @param vals One-dimensional array of floats, packed by columns (ala Fortran).<a name="line.134"></a>
<FONT color="green">135</FONT>       @param m    Number of rows.<a name="line.135"></a>
<FONT color="green">136</FONT>       @exception  IllegalArgumentException Array length must be a multiple of m.<a name="line.136"></a>
<FONT color="green">137</FONT>       */<a name="line.137"></a>
<FONT color="green">138</FONT>    <a name="line.138"></a>
<FONT color="green">139</FONT>       public FloatMatrix (float vals[], int m) {<a name="line.139"></a>
<FONT color="green">140</FONT>          this.m = m;<a name="line.140"></a>
<FONT color="green">141</FONT>          n = (m != 0 ? vals.length/m : 0);<a name="line.141"></a>
<FONT color="green">142</FONT>          if (m*n != vals.length) {<a name="line.142"></a>
<FONT color="green">143</FONT>             throw new IllegalArgumentException("Array length must be a multiple of m.");<a name="line.143"></a>
<FONT color="green">144</FONT>          }<a name="line.144"></a>
<FONT color="green">145</FONT>          A = new float[m][n];<a name="line.145"></a>
<FONT color="green">146</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.146"></a>
<FONT color="green">147</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.147"></a>
<FONT color="green">148</FONT>                A[i][j] = vals[i+j*m];<a name="line.148"></a>
<FONT color="green">149</FONT>             }<a name="line.149"></a>
<FONT color="green">150</FONT>          }<a name="line.150"></a>
<FONT color="green">151</FONT>       }<a name="line.151"></a>
<FONT color="green">152</FONT>    <a name="line.152"></a>
<FONT color="green">153</FONT>    /* ------------------------<a name="line.153"></a>
<FONT color="green">154</FONT>       Public Methods<a name="line.154"></a>
<FONT color="green">155</FONT>     * ------------------------ */<a name="line.155"></a>
<FONT color="green">156</FONT>    <a name="line.156"></a>
<FONT color="green">157</FONT>       /** Construct a matrix from a copy of a 2-D array.<a name="line.157"></a>
<FONT color="green">158</FONT>       @param A    Two-dimensional array of floats.<a name="line.158"></a>
<FONT color="green">159</FONT>       @exception  IllegalArgumentException All rows must have the same length<a name="line.159"></a>
<FONT color="green">160</FONT>       */<a name="line.160"></a>
<FONT color="green">161</FONT>    <a name="line.161"></a>
<FONT color="green">162</FONT>       public static FloatMatrix constructWithCopy(float[][] A) {<a name="line.162"></a>
<FONT color="green">163</FONT>          int m = A.length;<a name="line.163"></a>
<FONT color="green">164</FONT>          int n = A[0].length;<a name="line.164"></a>
<FONT color="green">165</FONT>          FloatMatrix X = new FloatMatrix(m,n);<a name="line.165"></a>
<FONT color="green">166</FONT>          float[][] C = X.getArray();<a name="line.166"></a>
<FONT color="green">167</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.167"></a>
<FONT color="green">168</FONT>             if (A[i].length != n) {<a name="line.168"></a>
<FONT color="green">169</FONT>                throw new IllegalArgumentException<a name="line.169"></a>
<FONT color="green">170</FONT>                   ("All rows must have the same length.");<a name="line.170"></a>
<FONT color="green">171</FONT>             }<a name="line.171"></a>
<FONT color="green">172</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.172"></a>
<FONT color="green">173</FONT>                C[i][j] = A[i][j];<a name="line.173"></a>
<FONT color="green">174</FONT>             }<a name="line.174"></a>
<FONT color="green">175</FONT>          }<a name="line.175"></a>
<FONT color="green">176</FONT>          return X;<a name="line.176"></a>
<FONT color="green">177</FONT>       }<a name="line.177"></a>
<FONT color="green">178</FONT>    <a name="line.178"></a>
<FONT color="green">179</FONT>       /** Make a deep copy of a matrix<a name="line.179"></a>
<FONT color="green">180</FONT>       */<a name="line.180"></a>
<FONT color="green">181</FONT>    <a name="line.181"></a>
<FONT color="green">182</FONT>       public FloatMatrix copy () {<a name="line.182"></a>
<FONT color="green">183</FONT>           FloatMatrix X = new FloatMatrix(m,n);<a name="line.183"></a>
<FONT color="green">184</FONT>          float[][] C = X.getArray();<a name="line.184"></a>
<FONT color="green">185</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.185"></a>
<FONT color="green">186</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.186"></a>
<FONT color="green">187</FONT>                C[i][j] = A[i][j];<a name="line.187"></a>
<FONT color="green">188</FONT>             }<a name="line.188"></a>
<FONT color="green">189</FONT>          }<a name="line.189"></a>
<FONT color="green">190</FONT>          return X;<a name="line.190"></a>
<FONT color="green">191</FONT>       }<a name="line.191"></a>
<FONT color="green">192</FONT>    <a name="line.192"></a>
<FONT color="green">193</FONT>       /** Clone the Matrix object.<a name="line.193"></a>
<FONT color="green">194</FONT>       */<a name="line.194"></a>
<FONT color="green">195</FONT>    <a name="line.195"></a>
<FONT color="green">196</FONT>       public Object clone () {<a name="line.196"></a>
<FONT color="green">197</FONT>          return this.copy();<a name="line.197"></a>
<FONT color="green">198</FONT>       }<a name="line.198"></a>
<FONT color="green">199</FONT>    <a name="line.199"></a>
<FONT color="green">200</FONT>       /** Access the internal two-dimensional array.<a name="line.200"></a>
<FONT color="green">201</FONT>       @return     Pointer to the two-dimensional array of matrix elements.<a name="line.201"></a>
<FONT color="green">202</FONT>       */<a name="line.202"></a>
<FONT color="green">203</FONT>    <a name="line.203"></a>
<FONT color="green">204</FONT>       public float[][] getArray () {<a name="line.204"></a>
<FONT color="green">205</FONT>          return A;<a name="line.205"></a>
<FONT color="green">206</FONT>       }<a name="line.206"></a>
<FONT color="green">207</FONT>    <a name="line.207"></a>
<FONT color="green">208</FONT>       /** Copy the internal two-dimensional array.<a name="line.208"></a>
<FONT color="green">209</FONT>       @return     Two-dimensional array copy of matrix elements.<a name="line.209"></a>
<FONT color="green">210</FONT>       */<a name="line.210"></a>
<FONT color="green">211</FONT>    <a name="line.211"></a>
<FONT color="green">212</FONT>       public float[][] getArrayCopy () {<a name="line.212"></a>
<FONT color="green">213</FONT>          float[][] C = new float[m][n];<a name="line.213"></a>
<FONT color="green">214</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.214"></a>
<FONT color="green">215</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.215"></a>
<FONT color="green">216</FONT>                C[i][j] = A[i][j];<a name="line.216"></a>
<FONT color="green">217</FONT>             }<a name="line.217"></a>
<FONT color="green">218</FONT>          }<a name="line.218"></a>
<FONT color="green">219</FONT>          return C;<a name="line.219"></a>
<FONT color="green">220</FONT>       }<a name="line.220"></a>
<FONT color="green">221</FONT>    <a name="line.221"></a>
<FONT color="green">222</FONT>       /** Make a one-dimensional column packed copy of the internal array.<a name="line.222"></a>
<FONT color="green">223</FONT>       @return     Matrix elements packed in a one-dimensional array by columns.<a name="line.223"></a>
<FONT color="green">224</FONT>       */<a name="line.224"></a>
<FONT color="green">225</FONT>    <a name="line.225"></a>
<FONT color="green">226</FONT>       public float[] getColumnPackedCopy () {<a name="line.226"></a>
<FONT color="green">227</FONT>          float[] vals = new float[m*n];<a name="line.227"></a>
<FONT color="green">228</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.228"></a>
<FONT color="green">229</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.229"></a>
<FONT color="green">230</FONT>                vals[i+j*m] = A[i][j];<a name="line.230"></a>
<FONT color="green">231</FONT>             }<a name="line.231"></a>
<FONT color="green">232</FONT>          }<a name="line.232"></a>
<FONT color="green">233</FONT>          return vals;<a name="line.233"></a>
<FONT color="green">234</FONT>       }<a name="line.234"></a>
<FONT color="green">235</FONT>    <a name="line.235"></a>
<FONT color="green">236</FONT>       /** Make a one-dimensional row packed copy of the internal array.<a name="line.236"></a>
<FONT color="green">237</FONT>       @return     Matrix elements packed in a one-dimensional array by rows.<a name="line.237"></a>
<FONT color="green">238</FONT>       */<a name="line.238"></a>
<FONT color="green">239</FONT>    <a name="line.239"></a>
<FONT color="green">240</FONT>       public float[] getRowPackedCopy () {<a name="line.240"></a>
<FONT color="green">241</FONT>          float[] vals = new float[m*n];<a name="line.241"></a>
<FONT color="green">242</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.242"></a>
<FONT color="green">243</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.243"></a>
<FONT color="green">244</FONT>                vals[i*n+j] = A[i][j];<a name="line.244"></a>
<FONT color="green">245</FONT>             }<a name="line.245"></a>
<FONT color="green">246</FONT>          }<a name="line.246"></a>
<FONT color="green">247</FONT>          return vals;<a name="line.247"></a>
<FONT color="green">248</FONT>       }<a name="line.248"></a>
<FONT color="green">249</FONT>    <a name="line.249"></a>
<FONT color="green">250</FONT>       /** Get row dimension.<a name="line.250"></a>
<FONT color="green">251</FONT>       @return     m, the number of rows.<a name="line.251"></a>
<FONT color="green">252</FONT>       */<a name="line.252"></a>
<FONT color="green">253</FONT>    <a name="line.253"></a>
<FONT color="green">254</FONT>       public int getRowDimension () {<a name="line.254"></a>
<FONT color="green">255</FONT>          return m;<a name="line.255"></a>
<FONT color="green">256</FONT>       }<a name="line.256"></a>
<FONT color="green">257</FONT>    <a name="line.257"></a>
<FONT color="green">258</FONT>       /** Get column dimension.<a name="line.258"></a>
<FONT color="green">259</FONT>       @return     n, the number of columns.<a name="line.259"></a>
<FONT color="green">260</FONT>       */<a name="line.260"></a>
<FONT color="green">261</FONT>    <a name="line.261"></a>
<FONT color="green">262</FONT>       public int getColumnDimension () {<a name="line.262"></a>
<FONT color="green">263</FONT>          return n;<a name="line.263"></a>
<FONT color="green">264</FONT>       }<a name="line.264"></a>
<FONT color="green">265</FONT>    <a name="line.265"></a>
<FONT color="green">266</FONT>       /** Get a single element.<a name="line.266"></a>
<FONT color="green">267</FONT>       @param i    Row index.<a name="line.267"></a>
<FONT color="green">268</FONT>       @param j    Column index.<a name="line.268"></a>
<FONT color="green">269</FONT>       @return     A(i,j)<a name="line.269"></a>
<FONT color="green">270</FONT>       @exception  ArrayIndexOutOfBoundsException<a name="line.270"></a>
<FONT color="green">271</FONT>       */<a name="line.271"></a>
<FONT color="green">272</FONT>    <a name="line.272"></a>
<FONT color="green">273</FONT>       public float get (int i, int j) {<a name="line.273"></a>
<FONT color="green">274</FONT>          return A[i][j];<a name="line.274"></a>
<FONT color="green">275</FONT>       }<a name="line.275"></a>
<FONT color="green">276</FONT>    <a name="line.276"></a>
<FONT color="green">277</FONT>       /** Get a submatrix.<a name="line.277"></a>
<FONT color="green">278</FONT>       @param i0   Initial row index<a name="line.278"></a>
<FONT color="green">279</FONT>       @param i1   Final row index<a name="line.279"></a>
<FONT color="green">280</FONT>       @param j0   Initial column index<a name="line.280"></a>
<FONT color="green">281</FONT>       @param j1   Final column index<a name="line.281"></a>
<FONT color="green">282</FONT>       @return     A(i0:i1,j0:j1)<a name="line.282"></a>
<FONT color="green">283</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.283"></a>
<FONT color="green">284</FONT>       */<a name="line.284"></a>
<FONT color="green">285</FONT>    <a name="line.285"></a>
<FONT color="green">286</FONT>       public FloatMatrix getMatrix (int i0, int i1, int j0, int j1) {<a name="line.286"></a>
<FONT color="green">287</FONT>           FloatMatrix X = new FloatMatrix(i1-i0+1,j1-j0+1);<a name="line.287"></a>
<FONT color="green">288</FONT>          float[][] B = X.getArray();<a name="line.288"></a>
<FONT color="green">289</FONT>          try {<a name="line.289"></a>
<FONT color="green">290</FONT>             for (int i = i0; i &lt;= i1; i++) {<a name="line.290"></a>
<FONT color="green">291</FONT>                for (int j = j0; j &lt;= j1; j++) {<a name="line.291"></a>
<FONT color="green">292</FONT>                   B[i-i0][j-j0] = A[i][j];<a name="line.292"></a>
<FONT color="green">293</FONT>                }<a name="line.293"></a>
<FONT color="green">294</FONT>             }<a name="line.294"></a>
<FONT color="green">295</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.295"></a>
<FONT color="green">296</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.296"></a>
<FONT color="green">297</FONT>          }<a name="line.297"></a>
<FONT color="green">298</FONT>          return X;<a name="line.298"></a>
<FONT color="green">299</FONT>       }<a name="line.299"></a>
<FONT color="green">300</FONT>    <a name="line.300"></a>
<FONT color="green">301</FONT>       /** Get a submatrix.<a name="line.301"></a>
<FONT color="green">302</FONT>       @param r    Array of row indices.<a name="line.302"></a>
<FONT color="green">303</FONT>       @param c    Array of column indices.<a name="line.303"></a>
<FONT color="green">304</FONT>       @return     A(r(:),c(:))<a name="line.304"></a>
<FONT color="green">305</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.305"></a>
<FONT color="green">306</FONT>       */<a name="line.306"></a>
<FONT color="green">307</FONT>    <a name="line.307"></a>
<FONT color="green">308</FONT>       public FloatMatrix getMatrix (int[] r, int[] c) {<a name="line.308"></a>
<FONT color="green">309</FONT>           FloatMatrix X = new FloatMatrix(r.length,c.length);<a name="line.309"></a>
<FONT color="green">310</FONT>          float[][] B = X.getArray();<a name="line.310"></a>
<FONT color="green">311</FONT>          try {<a name="line.311"></a>
<FONT color="green">312</FONT>             for (int i = 0; i &lt; r.length; i++) {<a name="line.312"></a>
<FONT color="green">313</FONT>                for (int j = 0; j &lt; c.length; j++) {<a name="line.313"></a>
<FONT color="green">314</FONT>                   B[i][j] = A[r[i]][c[j]];<a name="line.314"></a>
<FONT color="green">315</FONT>                }<a name="line.315"></a>
<FONT color="green">316</FONT>             }<a name="line.316"></a>
<FONT color="green">317</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.317"></a>
<FONT color="green">318</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.318"></a>
<FONT color="green">319</FONT>          }<a name="line.319"></a>
<FONT color="green">320</FONT>          return X;<a name="line.320"></a>
<FONT color="green">321</FONT>       }<a name="line.321"></a>
<FONT color="green">322</FONT>    <a name="line.322"></a>
<FONT color="green">323</FONT>       /** Get a submatrix.<a name="line.323"></a>
<FONT color="green">324</FONT>       @param i0   Initial row index<a name="line.324"></a>
<FONT color="green">325</FONT>       @param i1   Final row index<a name="line.325"></a>
<FONT color="green">326</FONT>       @param c    Array of column indices.<a name="line.326"></a>
<FONT color="green">327</FONT>       @return     A(i0:i1,c(:))<a name="line.327"></a>
<FONT color="green">328</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.328"></a>
<FONT color="green">329</FONT>       */<a name="line.329"></a>
<FONT color="green">330</FONT>    <a name="line.330"></a>
<FONT color="green">331</FONT>       public FloatMatrix getMatrix (int i0, int i1, int[] c) {<a name="line.331"></a>
<FONT color="green">332</FONT>           FloatMatrix X = new FloatMatrix(i1-i0+1,c.length);<a name="line.332"></a>
<FONT color="green">333</FONT>          float[][] B = X.getArray();<a name="line.333"></a>
<FONT color="green">334</FONT>          try {<a name="line.334"></a>
<FONT color="green">335</FONT>             for (int i = i0; i &lt;= i1; i++) {<a name="line.335"></a>
<FONT color="green">336</FONT>                for (int j = 0; j &lt; c.length; j++) {<a name="line.336"></a>
<FONT color="green">337</FONT>                   B[i-i0][j] = A[i][c[j]];<a name="line.337"></a>
<FONT color="green">338</FONT>                }<a name="line.338"></a>
<FONT color="green">339</FONT>             }<a name="line.339"></a>
<FONT color="green">340</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.340"></a>
<FONT color="green">341</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.341"></a>
<FONT color="green">342</FONT>          }<a name="line.342"></a>
<FONT color="green">343</FONT>          return X;<a name="line.343"></a>
<FONT color="green">344</FONT>       }<a name="line.344"></a>
<FONT color="green">345</FONT>    <a name="line.345"></a>
<FONT color="green">346</FONT>       /** Get a submatrix.<a name="line.346"></a>
<FONT color="green">347</FONT>       @param r    Array of row indices.<a name="line.347"></a>
<FONT color="green">348</FONT>       @param i0   Initial column index<a name="line.348"></a>
<FONT color="green">349</FONT>       @param i1   Final column index<a name="line.349"></a>
<FONT color="green">350</FONT>       @return     A(r(:),j0:j1)<a name="line.350"></a>
<FONT color="green">351</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.351"></a>
<FONT color="green">352</FONT>       */<a name="line.352"></a>
<FONT color="green">353</FONT>    <a name="line.353"></a>
<FONT color="green">354</FONT>       public FloatMatrix getMatrix (int[] r, int j0, int j1) {<a name="line.354"></a>
<FONT color="green">355</FONT>           FloatMatrix X = new FloatMatrix(r.length,j1-j0+1);<a name="line.355"></a>
<FONT color="green">356</FONT>          float[][] B = X.getArray();<a name="line.356"></a>
<FONT color="green">357</FONT>          try {<a name="line.357"></a>
<FONT color="green">358</FONT>             for (int i = 0; i &lt; r.length; i++) {<a name="line.358"></a>
<FONT color="green">359</FONT>                for (int j = j0; j &lt;= j1; j++) {<a name="line.359"></a>
<FONT color="green">360</FONT>                   B[i][j-j0] = A[r[i]][j];<a name="line.360"></a>
<FONT color="green">361</FONT>                }<a name="line.361"></a>
<FONT color="green">362</FONT>             }<a name="line.362"></a>
<FONT color="green">363</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.363"></a>
<FONT color="green">364</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.364"></a>
<FONT color="green">365</FONT>          }<a name="line.365"></a>
<FONT color="green">366</FONT>          return X;<a name="line.366"></a>
<FONT color="green">367</FONT>       }<a name="line.367"></a>
<FONT color="green">368</FONT>    <a name="line.368"></a>
<FONT color="green">369</FONT>       /** Set a single element.<a name="line.369"></a>
<FONT color="green">370</FONT>       @param i    Row index.<a name="line.370"></a>
<FONT color="green">371</FONT>       @param j    Column index.<a name="line.371"></a>
<FONT color="green">372</FONT>       @param s    A(i,j).<a name="line.372"></a>
<FONT color="green">373</FONT>       @exception  ArrayIndexOutOfBoundsException<a name="line.373"></a>
<FONT color="green">374</FONT>       */<a name="line.374"></a>
<FONT color="green">375</FONT>    <a name="line.375"></a>
<FONT color="green">376</FONT>       public void set (int i, int j, float s) {<a name="line.376"></a>
<FONT color="green">377</FONT>          A[i][j] = s;<a name="line.377"></a>
<FONT color="green">378</FONT>       }<a name="line.378"></a>
<FONT color="green">379</FONT>    <a name="line.379"></a>
<FONT color="green">380</FONT>       /** Set a submatrix.<a name="line.380"></a>
<FONT color="green">381</FONT>       @param i0   Initial row index<a name="line.381"></a>
<FONT color="green">382</FONT>       @param i1   Final row index<a name="line.382"></a>
<FONT color="green">383</FONT>       @param j0   Initial column index<a name="line.383"></a>
<FONT color="green">384</FONT>       @param j1   Final column index<a name="line.384"></a>
<FONT color="green">385</FONT>       @param X    A(i0:i1,j0:j1)<a name="line.385"></a>
<FONT color="green">386</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.386"></a>
<FONT color="green">387</FONT>       */<a name="line.387"></a>
<FONT color="green">388</FONT>    <a name="line.388"></a>
<FONT color="green">389</FONT>       public void setMatrix (int i0, int i1, int j0, int j1, FloatMatrix X) {<a name="line.389"></a>
<FONT color="green">390</FONT>          try {<a name="line.390"></a>
<FONT color="green">391</FONT>             for (int i = i0; i &lt;= i1; i++) {<a name="line.391"></a>
<FONT color="green">392</FONT>                for (int j = j0; j &lt;= j1; j++) {<a name="line.392"></a>
<FONT color="green">393</FONT>                   A[i][j] = X.get(i-i0,j-j0);<a name="line.393"></a>
<FONT color="green">394</FONT>                }<a name="line.394"></a>
<FONT color="green">395</FONT>             }<a name="line.395"></a>
<FONT color="green">396</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.396"></a>
<FONT color="green">397</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.397"></a>
<FONT color="green">398</FONT>          }<a name="line.398"></a>
<FONT color="green">399</FONT>       }<a name="line.399"></a>
<FONT color="green">400</FONT>    <a name="line.400"></a>
<FONT color="green">401</FONT>       /** Set a submatrix.<a name="line.401"></a>
<FONT color="green">402</FONT>       @param r    Array of row indices.<a name="line.402"></a>
<FONT color="green">403</FONT>       @param c    Array of column indices.<a name="line.403"></a>
<FONT color="green">404</FONT>       @param X    A(r(:),c(:))<a name="line.404"></a>
<FONT color="green">405</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.405"></a>
<FONT color="green">406</FONT>       */<a name="line.406"></a>
<FONT color="green">407</FONT>    <a name="line.407"></a>
<FONT color="green">408</FONT>       public void setMatrix (int[] r, int[] c, FloatMatrix X) {<a name="line.408"></a>
<FONT color="green">409</FONT>          try {<a name="line.409"></a>
<FONT color="green">410</FONT>             for (int i = 0; i &lt; r.length; i++) {<a name="line.410"></a>
<FONT color="green">411</FONT>                for (int j = 0; j &lt; c.length; j++) {<a name="line.411"></a>
<FONT color="green">412</FONT>                   A[r[i]][c[j]] = X.get(i,j);<a name="line.412"></a>
<FONT color="green">413</FONT>                }<a name="line.413"></a>
<FONT color="green">414</FONT>             }<a name="line.414"></a>
<FONT color="green">415</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.415"></a>
<FONT color="green">416</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.416"></a>
<FONT color="green">417</FONT>          }<a name="line.417"></a>
<FONT color="green">418</FONT>       }<a name="line.418"></a>
<FONT color="green">419</FONT>    <a name="line.419"></a>
<FONT color="green">420</FONT>       /** Set a submatrix.<a name="line.420"></a>
<FONT color="green">421</FONT>       @param r    Array of row indices.<a name="line.421"></a>
<FONT color="green">422</FONT>       @param j0   Initial column index<a name="line.422"></a>
<FONT color="green">423</FONT>       @param j1   Final column index<a name="line.423"></a>
<FONT color="green">424</FONT>       @param X    A(r(:),j0:j1)<a name="line.424"></a>
<FONT color="green">425</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.425"></a>
<FONT color="green">426</FONT>       */<a name="line.426"></a>
<FONT color="green">427</FONT>    <a name="line.427"></a>
<FONT color="green">428</FONT>       public void setMatrix (int[] r, int j0, int j1, FloatMatrix X) {<a name="line.428"></a>
<FONT color="green">429</FONT>          try {<a name="line.429"></a>
<FONT color="green">430</FONT>             for (int i = 0; i &lt; r.length; i++) {<a name="line.430"></a>
<FONT color="green">431</FONT>                for (int j = j0; j &lt;= j1; j++) {<a name="line.431"></a>
<FONT color="green">432</FONT>                   A[r[i]][j] = X.get(i,j-j0);<a name="line.432"></a>
<FONT color="green">433</FONT>                }<a name="line.433"></a>
<FONT color="green">434</FONT>             }<a name="line.434"></a>
<FONT color="green">435</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.435"></a>
<FONT color="green">436</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.436"></a>
<FONT color="green">437</FONT>          }<a name="line.437"></a>
<FONT color="green">438</FONT>       }<a name="line.438"></a>
<FONT color="green">439</FONT>    <a name="line.439"></a>
<FONT color="green">440</FONT>       /** Set a submatrix.<a name="line.440"></a>
<FONT color="green">441</FONT>       @param i0   Initial row index<a name="line.441"></a>
<FONT color="green">442</FONT>       @param i1   Final row index<a name="line.442"></a>
<FONT color="green">443</FONT>       @param c    Array of column indices.<a name="line.443"></a>
<FONT color="green">444</FONT>       @param X    A(i0:i1,c(:))<a name="line.444"></a>
<FONT color="green">445</FONT>       @exception  ArrayIndexOutOfBoundsException Submatrix indices<a name="line.445"></a>
<FONT color="green">446</FONT>       */<a name="line.446"></a>
<FONT color="green">447</FONT>    <a name="line.447"></a>
<FONT color="green">448</FONT>       public void setMatrix (int i0, int i1, int[] c, FloatMatrix X) {<a name="line.448"></a>
<FONT color="green">449</FONT>          try {<a name="line.449"></a>
<FONT color="green">450</FONT>             for (int i = i0; i &lt;= i1; i++) {<a name="line.450"></a>
<FONT color="green">451</FONT>                for (int j = 0; j &lt; c.length; j++) {<a name="line.451"></a>
<FONT color="green">452</FONT>                   A[i][c[j]] = X.get(i-i0,j);<a name="line.452"></a>
<FONT color="green">453</FONT>                }<a name="line.453"></a>
<FONT color="green">454</FONT>             }<a name="line.454"></a>
<FONT color="green">455</FONT>          } catch(ArrayIndexOutOfBoundsException e) {<a name="line.455"></a>
<FONT color="green">456</FONT>             throw new ArrayIndexOutOfBoundsException("Submatrix indices");<a name="line.456"></a>
<FONT color="green">457</FONT>          }<a name="line.457"></a>
<FONT color="green">458</FONT>       }<a name="line.458"></a>
<FONT color="green">459</FONT>    <a name="line.459"></a>
<FONT color="green">460</FONT>       /** Matrix transpose.<a name="line.460"></a>
<FONT color="green">461</FONT>       @return    A'<a name="line.461"></a>
<FONT color="green">462</FONT>       */<a name="line.462"></a>
<FONT color="green">463</FONT>    <a name="line.463"></a>
<FONT color="green">464</FONT>       public FloatMatrix transpose () {<a name="line.464"></a>
<FONT color="green">465</FONT>           FloatMatrix X = new FloatMatrix(n,m);<a name="line.465"></a>
<FONT color="green">466</FONT>          float[][] C = X.getArray();<a name="line.466"></a>
<FONT color="green">467</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.467"></a>
<FONT color="green">468</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.468"></a>
<FONT color="green">469</FONT>                C[j][i] = A[i][j];<a name="line.469"></a>
<FONT color="green">470</FONT>             }<a name="line.470"></a>
<FONT color="green">471</FONT>          }<a name="line.471"></a>
<FONT color="green">472</FONT>          return X;<a name="line.472"></a>
<FONT color="green">473</FONT>       }<a name="line.473"></a>
<FONT color="green">474</FONT>    <a name="line.474"></a>
<FONT color="green">475</FONT>       /** One norm<a name="line.475"></a>
<FONT color="green">476</FONT>       @return    maximum column sum.<a name="line.476"></a>
<FONT color="green">477</FONT>       */<a name="line.477"></a>
<FONT color="green">478</FONT>    <a name="line.478"></a>
<FONT color="green">479</FONT>       public float norm1 () {<a name="line.479"></a>
<FONT color="green">480</FONT>          float f = 0;<a name="line.480"></a>
<FONT color="green">481</FONT>          for (int j = 0; j &lt; n; j++) {<a name="line.481"></a>
<FONT color="green">482</FONT>             float s = 0;<a name="line.482"></a>
<FONT color="green">483</FONT>             for (int i = 0; i &lt; m; i++) {<a name="line.483"></a>
<FONT color="green">484</FONT>                s += Math.abs(A[i][j]);<a name="line.484"></a>
<FONT color="green">485</FONT>             }<a name="line.485"></a>
<FONT color="green">486</FONT>             f = Math.max(f,s);<a name="line.486"></a>
<FONT color="green">487</FONT>          }<a name="line.487"></a>
<FONT color="green">488</FONT>          return f;<a name="line.488"></a>
<FONT color="green">489</FONT>       }<a name="line.489"></a>
<FONT color="green">490</FONT>    <a name="line.490"></a>
<FONT color="green">491</FONT>    //   /** Two norm<a name="line.491"></a>
<FONT color="green">492</FONT>    //   @return    maximum singular value.<a name="line.492"></a>
<FONT color="green">493</FONT>    //   */<a name="line.493"></a>
<FONT color="green">494</FONT>    //<a name="line.494"></a>
<FONT color="green">495</FONT>    //   public float norm2 () {<a name="line.495"></a>
<FONT color="green">496</FONT>    //      return (new SingularValueDecomposition(this).norm2());<a name="line.496"></a>
<FONT color="green">497</FONT>    //   }<a name="line.497"></a>
<FONT color="green">498</FONT>    <a name="line.498"></a>
<FONT color="green">499</FONT>       /** Infinity norm<a name="line.499"></a>
<FONT color="green">500</FONT>       @return    maximum row sum.<a name="line.500"></a>
<FONT color="green">501</FONT>       */<a name="line.501"></a>
<FONT color="green">502</FONT>    <a name="line.502"></a>
<FONT color="green">503</FONT>       public float normInf () {<a name="line.503"></a>
<FONT color="green">504</FONT>          float f = 0;<a name="line.504"></a>
<FONT color="green">505</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.505"></a>
<FONT color="green">506</FONT>             float s = 0;<a name="line.506"></a>
<FONT color="green">507</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.507"></a>
<FONT color="green">508</FONT>                s += Math.abs(A[i][j]);<a name="line.508"></a>
<FONT color="green">509</FONT>             }<a name="line.509"></a>
<FONT color="green">510</FONT>             f = Math.max(f,s);<a name="line.510"></a>
<FONT color="green">511</FONT>          }<a name="line.511"></a>
<FONT color="green">512</FONT>          return f;<a name="line.512"></a>
<FONT color="green">513</FONT>       }<a name="line.513"></a>
<FONT color="green">514</FONT>    <a name="line.514"></a>
<FONT color="green">515</FONT>    //   /** Frobenius norm<a name="line.515"></a>
<FONT color="green">516</FONT>    //   @return    sqrt of sum of squares of all elements.<a name="line.516"></a>
<FONT color="green">517</FONT>    //   */<a name="line.517"></a>
<FONT color="green">518</FONT>    //<a name="line.518"></a>
<FONT color="green">519</FONT>    //   public float normF () {<a name="line.519"></a>
<FONT color="green">520</FONT>    //      float f = 0;<a name="line.520"></a>
<FONT color="green">521</FONT>    //      for (int i = 0; i &lt; m; i++) {<a name="line.521"></a>
<FONT color="green">522</FONT>    //         for (int j = 0; j &lt; n; j++) {<a name="line.522"></a>
<FONT color="green">523</FONT>    //            f = Maths.hypot(f,A[i][j]);<a name="line.523"></a>
<FONT color="green">524</FONT>    //         }<a name="line.524"></a>
<FONT color="green">525</FONT>    //      }<a name="line.525"></a>
<FONT color="green">526</FONT>    //      return f;<a name="line.526"></a>
<FONT color="green">527</FONT>    //   }<a name="line.527"></a>
<FONT color="green">528</FONT>    <a name="line.528"></a>
<FONT color="green">529</FONT>       /**  Unary minus<a name="line.529"></a>
<FONT color="green">530</FONT>       @return    -A<a name="line.530"></a>
<FONT color="green">531</FONT>       */<a name="line.531"></a>
<FONT color="green">532</FONT>    <a name="line.532"></a>
<FONT color="green">533</FONT>       public FloatMatrix uminus () {<a name="line.533"></a>
<FONT color="green">534</FONT>           FloatMatrix X = new FloatMatrix(m,n);<a name="line.534"></a>
<FONT color="green">535</FONT>          float[][] C = X.getArray();<a name="line.535"></a>
<FONT color="green">536</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.536"></a>
<FONT color="green">537</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.537"></a>
<FONT color="green">538</FONT>                C[i][j] = -A[i][j];<a name="line.538"></a>
<FONT color="green">539</FONT>             }<a name="line.539"></a>
<FONT color="green">540</FONT>          }<a name="line.540"></a>
<FONT color="green">541</FONT>          return X;<a name="line.541"></a>
<FONT color="green">542</FONT>       }<a name="line.542"></a>
<FONT color="green">543</FONT>    <a name="line.543"></a>
<FONT color="green">544</FONT>       /** C = A + B<a name="line.544"></a>
<FONT color="green">545</FONT>       @param B    another matrix<a name="line.545"></a>
<FONT color="green">546</FONT>       @return     A + B<a name="line.546"></a>
<FONT color="green">547</FONT>       */<a name="line.547"></a>
<FONT color="green">548</FONT>    <a name="line.548"></a>
<FONT color="green">549</FONT>       public FloatMatrix plus (FloatMatrix B) {<a name="line.549"></a>
<FONT color="green">550</FONT>          checkMatrixDimensions(B);<a name="line.550"></a>
<FONT color="green">551</FONT>          FloatMatrix X = new FloatMatrix(m,n);<a name="line.551"></a>
<FONT color="green">552</FONT>          float[][] C = X.getArray();<a name="line.552"></a>
<FONT color="green">553</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.553"></a>
<FONT color="green">554</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.554"></a>
<FONT color="green">555</FONT>                C[i][j] = A[i][j] + B.A[i][j];<a name="line.555"></a>
<FONT color="green">556</FONT>             }<a name="line.556"></a>
<FONT color="green">557</FONT>          }<a name="line.557"></a>
<FONT color="green">558</FONT>          return X;<a name="line.558"></a>
<FONT color="green">559</FONT>       }<a name="line.559"></a>
<FONT color="green">560</FONT>    <a name="line.560"></a>
<FONT color="green">561</FONT>       /** A = A + B<a name="line.561"></a>
<FONT color="green">562</FONT>       @param B    another matrix<a name="line.562"></a>
<FONT color="green">563</FONT>       @return     A + B<a name="line.563"></a>
<FONT color="green">564</FONT>       */<a name="line.564"></a>
<FONT color="green">565</FONT>    <a name="line.565"></a>
<FONT color="green">566</FONT>       public FloatMatrix plusEquals (FloatMatrix B) {<a name="line.566"></a>
<FONT color="green">567</FONT>          checkMatrixDimensions(B);<a name="line.567"></a>
<FONT color="green">568</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.568"></a>
<FONT color="green">569</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.569"></a>
<FONT color="green">570</FONT>                A[i][j] = A[i][j] + B.A[i][j];<a name="line.570"></a>
<FONT color="green">571</FONT>             }<a name="line.571"></a>
<FONT color="green">572</FONT>          }<a name="line.572"></a>
<FONT color="green">573</FONT>          return this;<a name="line.573"></a>
<FONT color="green">574</FONT>       }<a name="line.574"></a>
<FONT color="green">575</FONT>    <a name="line.575"></a>
<FONT color="green">576</FONT>       /** C = A - B<a name="line.576"></a>
<FONT color="green">577</FONT>       @param B    another matrix<a name="line.577"></a>
<FONT color="green">578</FONT>       @return     A - B<a name="line.578"></a>
<FONT color="green">579</FONT>       */<a name="line.579"></a>
<FONT color="green">580</FONT>    <a name="line.580"></a>
<FONT color="green">581</FONT>       public FloatMatrix minus (FloatMatrix B) {<a name="line.581"></a>
<FONT color="green">582</FONT>          checkMatrixDimensions(B);<a name="line.582"></a>
<FONT color="green">583</FONT>          FloatMatrix X = new FloatMatrix(m,n);<a name="line.583"></a>
<FONT color="green">584</FONT>          float[][] C = X.getArray();<a name="line.584"></a>
<FONT color="green">585</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.585"></a>
<FONT color="green">586</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.586"></a>
<FONT color="green">587</FONT>                C[i][j] = A[i][j] - B.A[i][j];<a name="line.587"></a>
<FONT color="green">588</FONT>             }<a name="line.588"></a>
<FONT color="green">589</FONT>          }<a name="line.589"></a>
<FONT color="green">590</FONT>          return X;<a name="line.590"></a>
<FONT color="green">591</FONT>       }<a name="line.591"></a>
<FONT color="green">592</FONT>    <a name="line.592"></a>
<FONT color="green">593</FONT>       /** A = A - B<a name="line.593"></a>
<FONT color="green">594</FONT>       @param B    another matrix<a name="line.594"></a>
<FONT color="green">595</FONT>       @return     A - B<a name="line.595"></a>
<FONT color="green">596</FONT>       */<a name="line.596"></a>
<FONT color="green">597</FONT>    <a name="line.597"></a>
<FONT color="green">598</FONT>       public FloatMatrix minusEquals (FloatMatrix B) {<a name="line.598"></a>
<FONT color="green">599</FONT>          checkMatrixDimensions(B);<a name="line.599"></a>
<FONT color="green">600</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.600"></a>
<FONT color="green">601</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.601"></a>
<FONT color="green">602</FONT>                A[i][j] = A[i][j] - B.A[i][j];<a name="line.602"></a>
<FONT color="green">603</FONT>             }<a name="line.603"></a>
<FONT color="green">604</FONT>          }<a name="line.604"></a>
<FONT color="green">605</FONT>          return this;<a name="line.605"></a>
<FONT color="green">606</FONT>       }<a name="line.606"></a>
<FONT color="green">607</FONT>    <a name="line.607"></a>
<FONT color="green">608</FONT>       /** Element-by-element multiplication, C = A.*B<a name="line.608"></a>
<FONT color="green">609</FONT>       @param B    another matrix<a name="line.609"></a>
<FONT color="green">610</FONT>       @return     A.*B<a name="line.610"></a>
<FONT color="green">611</FONT>       */<a name="line.611"></a>
<FONT color="green">612</FONT>    <a name="line.612"></a>
<FONT color="green">613</FONT>       public FloatMatrix arrayTimes (FloatMatrix B) {<a name="line.613"></a>
<FONT color="green">614</FONT>          checkMatrixDimensions(B);<a name="line.614"></a>
<FONT color="green">615</FONT>          FloatMatrix X = new FloatMatrix(m,n);<a name="line.615"></a>
<FONT color="green">616</FONT>          float[][] C = X.getArray();<a name="line.616"></a>
<FONT color="green">617</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.617"></a>
<FONT color="green">618</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.618"></a>
<FONT color="green">619</FONT>                C[i][j] = A[i][j] * B.A[i][j];<a name="line.619"></a>
<FONT color="green">620</FONT>             }<a name="line.620"></a>
<FONT color="green">621</FONT>          }<a name="line.621"></a>
<FONT color="green">622</FONT>          return X;<a name="line.622"></a>
<FONT color="green">623</FONT>       }<a name="line.623"></a>
<FONT color="green">624</FONT>    <a name="line.624"></a>
<FONT color="green">625</FONT>       /** Element-by-element multiplication in place, A = A.*B<a name="line.625"></a>
<FONT color="green">626</FONT>       @param B    another matrix<a name="line.626"></a>
<FONT color="green">627</FONT>       @return     A.*B<a name="line.627"></a>
<FONT color="green">628</FONT>       */<a name="line.628"></a>
<FONT color="green">629</FONT>    <a name="line.629"></a>
<FONT color="green">630</FONT>       public FloatMatrix arrayTimesEquals (FloatMatrix B) {<a name="line.630"></a>
<FONT color="green">631</FONT>          checkMatrixDimensions(B);<a name="line.631"></a>
<FONT color="green">632</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.632"></a>
<FONT color="green">633</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.633"></a>
<FONT color="green">634</FONT>                A[i][j] = A[i][j] * B.A[i][j];<a name="line.634"></a>
<FONT color="green">635</FONT>             }<a name="line.635"></a>
<FONT color="green">636</FONT>          }<a name="line.636"></a>
<FONT color="green">637</FONT>          return this;<a name="line.637"></a>
<FONT color="green">638</FONT>       }<a name="line.638"></a>
<FONT color="green">639</FONT>    <a name="line.639"></a>
<FONT color="green">640</FONT>       /** Element-by-element right division, C = A./B<a name="line.640"></a>
<FONT color="green">641</FONT>       @param B    another matrix<a name="line.641"></a>
<FONT color="green">642</FONT>       @return     A./B<a name="line.642"></a>
<FONT color="green">643</FONT>       */<a name="line.643"></a>
<FONT color="green">644</FONT>    <a name="line.644"></a>
<FONT color="green">645</FONT>       public FloatMatrix arrayRightDivide (FloatMatrix B) {<a name="line.645"></a>
<FONT color="green">646</FONT>          checkMatrixDimensions(B);<a name="line.646"></a>
<FONT color="green">647</FONT>          FloatMatrix X = new FloatMatrix(m,n);<a name="line.647"></a>
<FONT color="green">648</FONT>          float[][] C = X.getArray();<a name="line.648"></a>
<FONT color="green">649</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.649"></a>
<FONT color="green">650</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.650"></a>
<FONT color="green">651</FONT>                C[i][j] = A[i][j] / B.A[i][j];<a name="line.651"></a>
<FONT color="green">652</FONT>             }<a name="line.652"></a>
<FONT color="green">653</FONT>          }<a name="line.653"></a>
<FONT color="green">654</FONT>          return X;<a name="line.654"></a>
<FONT color="green">655</FONT>       }<a name="line.655"></a>
<FONT color="green">656</FONT>    <a name="line.656"></a>
<FONT color="green">657</FONT>       /** Element-by-element right division in place, A = A./B<a name="line.657"></a>
<FONT color="green">658</FONT>       @param B    another matrix<a name="line.658"></a>
<FONT color="green">659</FONT>       @return     A./B<a name="line.659"></a>
<FONT color="green">660</FONT>       */<a name="line.660"></a>
<FONT color="green">661</FONT>    <a name="line.661"></a>
<FONT color="green">662</FONT>       public FloatMatrix arrayRightDivideEquals (FloatMatrix B) {<a name="line.662"></a>
<FONT color="green">663</FONT>          checkMatrixDimensions(B);<a name="line.663"></a>
<FONT color="green">664</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.664"></a>
<FONT color="green">665</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.665"></a>
<FONT color="green">666</FONT>                A[i][j] = A[i][j] / B.A[i][j];<a name="line.666"></a>
<FONT color="green">667</FONT>             }<a name="line.667"></a>
<FONT color="green">668</FONT>          }<a name="line.668"></a>
<FONT color="green">669</FONT>          return this;<a name="line.669"></a>
<FONT color="green">670</FONT>       }<a name="line.670"></a>
<FONT color="green">671</FONT>    <a name="line.671"></a>
<FONT color="green">672</FONT>       /** Element-by-element left division, C = A.\B<a name="line.672"></a>
<FONT color="green">673</FONT>       @param B    another matrix<a name="line.673"></a>
<FONT color="green">674</FONT>       @return     A.\B<a name="line.674"></a>
<FONT color="green">675</FONT>       */<a name="line.675"></a>
<FONT color="green">676</FONT>    <a name="line.676"></a>
<FONT color="green">677</FONT>       public FloatMatrix arrayLeftDivide (FloatMatrix B) {<a name="line.677"></a>
<FONT color="green">678</FONT>          checkMatrixDimensions(B);<a name="line.678"></a>
<FONT color="green">679</FONT>          FloatMatrix X = new FloatMatrix(m,n);<a name="line.679"></a>
<FONT color="green">680</FONT>          float[][] C = X.getArray();<a name="line.680"></a>
<FONT color="green">681</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.681"></a>
<FONT color="green">682</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.682"></a>
<FONT color="green">683</FONT>                C[i][j] = B.A[i][j] / A[i][j];<a name="line.683"></a>
<FONT color="green">684</FONT>             }<a name="line.684"></a>
<FONT color="green">685</FONT>          }<a name="line.685"></a>
<FONT color="green">686</FONT>          return X;<a name="line.686"></a>
<FONT color="green">687</FONT>       }<a name="line.687"></a>
<FONT color="green">688</FONT>    <a name="line.688"></a>
<FONT color="green">689</FONT>       /** Element-by-element left division in place, A = A.\B<a name="line.689"></a>
<FONT color="green">690</FONT>       @param B    another matrix<a name="line.690"></a>
<FONT color="green">691</FONT>       @return     A.\B<a name="line.691"></a>
<FONT color="green">692</FONT>       */<a name="line.692"></a>
<FONT color="green">693</FONT>    <a name="line.693"></a>
<FONT color="green">694</FONT>       public FloatMatrix arrayLeftDivideEquals (FloatMatrix B) {<a name="line.694"></a>
<FONT color="green">695</FONT>          checkMatrixDimensions(B);<a name="line.695"></a>
<FONT color="green">696</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.696"></a>
<FONT color="green">697</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.697"></a>
<FONT color="green">698</FONT>                A[i][j] = B.A[i][j] / A[i][j];<a name="line.698"></a>
<FONT color="green">699</FONT>             }<a name="line.699"></a>
<FONT color="green">700</FONT>          }<a name="line.700"></a>
<FONT color="green">701</FONT>          return this;<a name="line.701"></a>
<FONT color="green">702</FONT>       }<a name="line.702"></a>
<FONT color="green">703</FONT>    <a name="line.703"></a>
<FONT color="green">704</FONT>       /** Multiply a matrix by a scalar, C = s*A<a name="line.704"></a>
<FONT color="green">705</FONT>       @param s    scalar<a name="line.705"></a>
<FONT color="green">706</FONT>       @return     s*A<a name="line.706"></a>
<FONT color="green">707</FONT>       */<a name="line.707"></a>
<FONT color="green">708</FONT>    <a name="line.708"></a>
<FONT color="green">709</FONT>       public FloatMatrix times (float s) {<a name="line.709"></a>
<FONT color="green">710</FONT>          FloatMatrix X = new FloatMatrix(m,n);<a name="line.710"></a>
<FONT color="green">711</FONT>          float[][] C = X.getArray();<a name="line.711"></a>
<FONT color="green">712</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.712"></a>
<FONT color="green">713</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.713"></a>
<FONT color="green">714</FONT>                C[i][j] = s*A[i][j];<a name="line.714"></a>
<FONT color="green">715</FONT>             }<a name="line.715"></a>
<FONT color="green">716</FONT>          }<a name="line.716"></a>
<FONT color="green">717</FONT>          return X;<a name="line.717"></a>
<FONT color="green">718</FONT>       }<a name="line.718"></a>
<FONT color="green">719</FONT>    <a name="line.719"></a>
<FONT color="green">720</FONT>       /** Multiply a matrix by a scalar in place, A = s*A<a name="line.720"></a>
<FONT color="green">721</FONT>       @param s    scalar<a name="line.721"></a>
<FONT color="green">722</FONT>       @return     replace A by s*A<a name="line.722"></a>
<FONT color="green">723</FONT>       */<a name="line.723"></a>
<FONT color="green">724</FONT>    <a name="line.724"></a>
<FONT color="green">725</FONT>       public FloatMatrix timesEquals (float s) {<a name="line.725"></a>
<FONT color="green">726</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.726"></a>
<FONT color="green">727</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.727"></a>
<FONT color="green">728</FONT>                A[i][j] = s*A[i][j];<a name="line.728"></a>
<FONT color="green">729</FONT>             }<a name="line.729"></a>
<FONT color="green">730</FONT>          }<a name="line.730"></a>
<FONT color="green">731</FONT>          return this;<a name="line.731"></a>
<FONT color="green">732</FONT>       }<a name="line.732"></a>
<FONT color="green">733</FONT>    <a name="line.733"></a>
<FONT color="green">734</FONT>       /** Linear algebraic matrix multiplication, A * B<a name="line.734"></a>
<FONT color="green">735</FONT>       @param B    another matrix<a name="line.735"></a>
<FONT color="green">736</FONT>       @return     FloatMatrix product, A * B<a name="line.736"></a>
<FONT color="green">737</FONT>       @exception  IllegalArgumentException FloatMatrix inner dimensions must agree.<a name="line.737"></a>
<FONT color="green">738</FONT>       */<a name="line.738"></a>
<FONT color="green">739</FONT>    <a name="line.739"></a>
<FONT color="green">740</FONT>       public FloatMatrix times (FloatMatrix B) {<a name="line.740"></a>
<FONT color="green">741</FONT>          if (B.m != n) {<a name="line.741"></a>
<FONT color="green">742</FONT>             throw new IllegalArgumentException("FloatMatrix inner dimensions must agree.");<a name="line.742"></a>
<FONT color="green">743</FONT>          }<a name="line.743"></a>
<FONT color="green">744</FONT>          FloatMatrix X = new FloatMatrix(m,B.n);<a name="line.744"></a>
<FONT color="green">745</FONT>          float[][] C = X.getArray();<a name="line.745"></a>
<FONT color="green">746</FONT>          float[] Bcolj = new float[n];<a name="line.746"></a>
<FONT color="green">747</FONT>          for (int j = 0; j &lt; B.n; j++) {<a name="line.747"></a>
<FONT color="green">748</FONT>             for (int k = 0; k &lt; n; k++) {<a name="line.748"></a>
<FONT color="green">749</FONT>                Bcolj[k] = B.A[k][j];<a name="line.749"></a>
<FONT color="green">750</FONT>             }<a name="line.750"></a>
<FONT color="green">751</FONT>             for (int i = 0; i &lt; m; i++) {<a name="line.751"></a>
<FONT color="green">752</FONT>                float[] Arowi = A[i];<a name="line.752"></a>
<FONT color="green">753</FONT>                float s = 0;<a name="line.753"></a>
<FONT color="green">754</FONT>                for (int k = 0; k &lt; n; k++) {<a name="line.754"></a>
<FONT color="green">755</FONT>                   s += Arowi[k]*Bcolj[k];<a name="line.755"></a>
<FONT color="green">756</FONT>                }<a name="line.756"></a>
<FONT color="green">757</FONT>                C[i][j] = s;<a name="line.757"></a>
<FONT color="green">758</FONT>             }<a name="line.758"></a>
<FONT color="green">759</FONT>          }<a name="line.759"></a>
<FONT color="green">760</FONT>          return X;<a name="line.760"></a>
<FONT color="green">761</FONT>       }<a name="line.761"></a>
<FONT color="green">762</FONT>    <a name="line.762"></a>
<FONT color="green">763</FONT>    //   /** LU Decomposition<a name="line.763"></a>
<FONT color="green">764</FONT>    //   @return     LUDecomposition<a name="line.764"></a>
<FONT color="green">765</FONT>    //   @see LUDecomposition<a name="line.765"></a>
<FONT color="green">766</FONT>    //   */<a name="line.766"></a>
<FONT color="green">767</FONT>    //<a name="line.767"></a>
<FONT color="green">768</FONT>    //   public LUDecomposition lu () {<a name="line.768"></a>
<FONT color="green">769</FONT>    //      return new LUDecomposition(this);<a name="line.769"></a>
<FONT color="green">770</FONT>    //   }<a name="line.770"></a>
<FONT color="green">771</FONT>    //<a name="line.771"></a>
<FONT color="green">772</FONT>    //   /** QR Decomposition<a name="line.772"></a>
<FONT color="green">773</FONT>    //   @return     QRDecomposition<a name="line.773"></a>
<FONT color="green">774</FONT>    //   @see QRDecomposition<a name="line.774"></a>
<FONT color="green">775</FONT>    //   */<a name="line.775"></a>
<FONT color="green">776</FONT>    //<a name="line.776"></a>
<FONT color="green">777</FONT>    //   public QRDecomposition qr () {<a name="line.777"></a>
<FONT color="green">778</FONT>    //      return new QRDecomposition(this);<a name="line.778"></a>
<FONT color="green">779</FONT>    //   }<a name="line.779"></a>
<FONT color="green">780</FONT>    //<a name="line.780"></a>
<FONT color="green">781</FONT>    //   /** Cholesky Decomposition<a name="line.781"></a>
<FONT color="green">782</FONT>    //   @return     CholeskyDecomposition<a name="line.782"></a>
<FONT color="green">783</FONT>    //   @see CholeskyDecomposition<a name="line.783"></a>
<FONT color="green">784</FONT>    //   */<a name="line.784"></a>
<FONT color="green">785</FONT>    //<a name="line.785"></a>
<FONT color="green">786</FONT>    //   public CholeskyDecomposition chol () {<a name="line.786"></a>
<FONT color="green">787</FONT>    //      return new CholeskyDecomposition(this);<a name="line.787"></a>
<FONT color="green">788</FONT>    //   }<a name="line.788"></a>
<FONT color="green">789</FONT>    //<a name="line.789"></a>
<FONT color="green">790</FONT>    //   /** Singular Value Decomposition<a name="line.790"></a>
<FONT color="green">791</FONT>    //   @return     SingularValueDecomposition<a name="line.791"></a>
<FONT color="green">792</FONT>    //   @see SingularValueDecomposition<a name="line.792"></a>
<FONT color="green">793</FONT>    //   */<a name="line.793"></a>
<FONT color="green">794</FONT>    //<a name="line.794"></a>
<FONT color="green">795</FONT>    //   public SingularValueDecomposition svd () {<a name="line.795"></a>
<FONT color="green">796</FONT>    //      return new SingularValueDecomposition(this);<a name="line.796"></a>
<FONT color="green">797</FONT>    //   }<a name="line.797"></a>
<FONT color="green">798</FONT>    //<a name="line.798"></a>
<FONT color="green">799</FONT>    //   /** Eigenvalue Decomposition<a name="line.799"></a>
<FONT color="green">800</FONT>    //   @return     EigenvalueDecomposition<a name="line.800"></a>
<FONT color="green">801</FONT>    //   @see EigenvalueDecomposition<a name="line.801"></a>
<FONT color="green">802</FONT>    //   */<a name="line.802"></a>
<FONT color="green">803</FONT>    //<a name="line.803"></a>
<FONT color="green">804</FONT>    //   public EigenvalueDecomposition eig () {<a name="line.804"></a>
<FONT color="green">805</FONT>    //      return new EigenvalueDecomposition(this);<a name="line.805"></a>
<FONT color="green">806</FONT>    //   }<a name="line.806"></a>
<FONT color="green">807</FONT>    //<a name="line.807"></a>
<FONT color="green">808</FONT>    //   /** Solve A*X = B<a name="line.808"></a>
<FONT color="green">809</FONT>    //   @param B    right hand side<a name="line.809"></a>
<FONT color="green">810</FONT>    //   @return     solution if A is square, least squares solution otherwise<a name="line.810"></a>
<FONT color="green">811</FONT>    //   */<a name="line.811"></a>
<FONT color="green">812</FONT>    //<a name="line.812"></a>
<FONT color="green">813</FONT>    //   public FloatMatrix solve (FloatMatrix B) {<a name="line.813"></a>
<FONT color="green">814</FONT>    //      return (m == n ? (new LUDecomposition(this)).solve(B) :<a name="line.814"></a>
<FONT color="green">815</FONT>    //                       (new QRDecomposition(this)).solve(B));<a name="line.815"></a>
<FONT color="green">816</FONT>    //   }<a name="line.816"></a>
<FONT color="green">817</FONT>    //<a name="line.817"></a>
<FONT color="green">818</FONT>    //   /** Solve X*A = B, which is also A'*X' = B'<a name="line.818"></a>
<FONT color="green">819</FONT>    //   @param B    right hand side<a name="line.819"></a>
<FONT color="green">820</FONT>    //   @return     solution if A is square, least squares solution otherwise.<a name="line.820"></a>
<FONT color="green">821</FONT>    //   */<a name="line.821"></a>
<FONT color="green">822</FONT>    //<a name="line.822"></a>
<FONT color="green">823</FONT>    //   public FloatMatrix solveTranspose (FloatMatrix B) {<a name="line.823"></a>
<FONT color="green">824</FONT>    //      return transpose().solve(B.transpose());<a name="line.824"></a>
<FONT color="green">825</FONT>    //   }<a name="line.825"></a>
<FONT color="green">826</FONT>    //<a name="line.826"></a>
<FONT color="green">827</FONT>    //   /** FloatMatrix inverse or pseudoinverse<a name="line.827"></a>
<FONT color="green">828</FONT>    //   @return     inverse(A) if A is square, pseudoinverse otherwise.<a name="line.828"></a>
<FONT color="green">829</FONT>    //   */<a name="line.829"></a>
<FONT color="green">830</FONT>    //<a name="line.830"></a>
<FONT color="green">831</FONT>    //   public FloatMatrix inverse () {<a name="line.831"></a>
<FONT color="green">832</FONT>    //      return solve(identity(m,m));<a name="line.832"></a>
<FONT color="green">833</FONT>    //   }<a name="line.833"></a>
<FONT color="green">834</FONT>    //<a name="line.834"></a>
<FONT color="green">835</FONT>    //   /** FloatMatrix determinant<a name="line.835"></a>
<FONT color="green">836</FONT>    //   @return     determinant<a name="line.836"></a>
<FONT color="green">837</FONT>    //   */<a name="line.837"></a>
<FONT color="green">838</FONT>    //<a name="line.838"></a>
<FONT color="green">839</FONT>    //   public float det () {<a name="line.839"></a>
<FONT color="green">840</FONT>    //      return new LUDecomposition(this).det();<a name="line.840"></a>
<FONT color="green">841</FONT>    //   }<a name="line.841"></a>
<FONT color="green">842</FONT>    //<a name="line.842"></a>
<FONT color="green">843</FONT>    //   /** FloatMatrix rank<a name="line.843"></a>
<FONT color="green">844</FONT>    //   @return     effective numerical rank, obtained from SVD.<a name="line.844"></a>
<FONT color="green">845</FONT>    //   */<a name="line.845"></a>
<FONT color="green">846</FONT>    //<a name="line.846"></a>
<FONT color="green">847</FONT>    //   public int rank () {<a name="line.847"></a>
<FONT color="green">848</FONT>    //      return new SingularValueDecomposition(this).rank();<a name="line.848"></a>
<FONT color="green">849</FONT>    //   }<a name="line.849"></a>
<FONT color="green">850</FONT>    //<a name="line.850"></a>
<FONT color="green">851</FONT>    //   /** FloatMatrix condition (2 norm)<a name="line.851"></a>
<FONT color="green">852</FONT>    //   @return     ratio of largest to smallest singular value.<a name="line.852"></a>
<FONT color="green">853</FONT>    //   */<a name="line.853"></a>
<FONT color="green">854</FONT>    //<a name="line.854"></a>
<FONT color="green">855</FONT>    //   public float cond () {<a name="line.855"></a>
<FONT color="green">856</FONT>    //      return new SingularValueDecomposition(this).cond();<a name="line.856"></a>
<FONT color="green">857</FONT>    //   }<a name="line.857"></a>
<FONT color="green">858</FONT>    <a name="line.858"></a>
<FONT color="green">859</FONT>       /** FloatMatrix trace.<a name="line.859"></a>
<FONT color="green">860</FONT>       @return     sum of the diagonal elements.<a name="line.860"></a>
<FONT color="green">861</FONT>       */<a name="line.861"></a>
<FONT color="green">862</FONT>    <a name="line.862"></a>
<FONT color="green">863</FONT>       public float trace () {<a name="line.863"></a>
<FONT color="green">864</FONT>          float t = 0;<a name="line.864"></a>
<FONT color="green">865</FONT>          for (int i = 0; i &lt; Math.min(m,n); i++) {<a name="line.865"></a>
<FONT color="green">866</FONT>             t += A[i][i];<a name="line.866"></a>
<FONT color="green">867</FONT>          }<a name="line.867"></a>
<FONT color="green">868</FONT>          return t;<a name="line.868"></a>
<FONT color="green">869</FONT>       }<a name="line.869"></a>
<FONT color="green">870</FONT>    <a name="line.870"></a>
<FONT color="green">871</FONT>       /** Generate matrix with random elements<a name="line.871"></a>
<FONT color="green">872</FONT>       @param m    Number of rows.<a name="line.872"></a>
<FONT color="green">873</FONT>       @param n    Number of colums.<a name="line.873"></a>
<FONT color="green">874</FONT>       @return     An m-by-n matrix with uniformly distributed random elements.<a name="line.874"></a>
<FONT color="green">875</FONT>       */<a name="line.875"></a>
<FONT color="green">876</FONT>    <a name="line.876"></a>
<FONT color="green">877</FONT>       public static FloatMatrix random (int m, int n) {<a name="line.877"></a>
<FONT color="green">878</FONT>          FloatMatrix A = new FloatMatrix(m,n);<a name="line.878"></a>
<FONT color="green">879</FONT>          float[][] X = A.getArray();<a name="line.879"></a>
<FONT color="green">880</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.880"></a>
<FONT color="green">881</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.881"></a>
<FONT color="green">882</FONT>                X[i][j] = (float)Math.random();<a name="line.882"></a>
<FONT color="green">883</FONT>             }<a name="line.883"></a>
<FONT color="green">884</FONT>          }<a name="line.884"></a>
<FONT color="green">885</FONT>          return A;<a name="line.885"></a>
<FONT color="green">886</FONT>       }<a name="line.886"></a>
<FONT color="green">887</FONT>    <a name="line.887"></a>
<FONT color="green">888</FONT>       /** Generate identity matrix<a name="line.888"></a>
<FONT color="green">889</FONT>       @param m    Number of rows.<a name="line.889"></a>
<FONT color="green">890</FONT>       @param n    Number of colums.<a name="line.890"></a>
<FONT color="green">891</FONT>       @return     An m-by-n matrix with ones on the diagonal and zeros elsewhere.<a name="line.891"></a>
<FONT color="green">892</FONT>       */<a name="line.892"></a>
<FONT color="green">893</FONT>    <a name="line.893"></a>
<FONT color="green">894</FONT>       public static FloatMatrix identity (int m, int n) {<a name="line.894"></a>
<FONT color="green">895</FONT>          FloatMatrix A = new FloatMatrix(m,n);<a name="line.895"></a>
<FONT color="green">896</FONT>          float[][] X = A.getArray();<a name="line.896"></a>
<FONT color="green">897</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.897"></a>
<FONT color="green">898</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.898"></a>
<FONT color="green">899</FONT>                X[i][j] = (float)(i == j ? 1.0 : 0.0);<a name="line.899"></a>
<FONT color="green">900</FONT>             }<a name="line.900"></a>
<FONT color="green">901</FONT>          }<a name="line.901"></a>
<FONT color="green">902</FONT>          return A;<a name="line.902"></a>
<FONT color="green">903</FONT>       }<a name="line.903"></a>
<FONT color="green">904</FONT>    <a name="line.904"></a>
<FONT color="green">905</FONT>    <a name="line.905"></a>
<FONT color="green">906</FONT>       /** Print the matrix to stdout.   Line the elements up in columns<a name="line.906"></a>
<FONT color="green">907</FONT>         * with a Fortran-like 'Fw.d' style format.<a name="line.907"></a>
<FONT color="green">908</FONT>       @param w    Column width.<a name="line.908"></a>
<FONT color="green">909</FONT>       @param d    Number of digits after the decimal.<a name="line.909"></a>
<FONT color="green">910</FONT>       */<a name="line.910"></a>
<FONT color="green">911</FONT>    <a name="line.911"></a>
<FONT color="green">912</FONT>       public void print (int w, int d) {<a name="line.912"></a>
<FONT color="green">913</FONT>          print(new PrintWriter(//////System.out.println,true),w,d); }<a name="line.913"></a>
<FONT color="green">914</FONT>    <a name="line.914"></a>
<FONT color="green">915</FONT>       /** Print the matrix to the output stream.   Line the elements up in<a name="line.915"></a>
<FONT color="green">916</FONT>         * columns with a Fortran-like 'Fw.d' style format.<a name="line.916"></a>
<FONT color="green">917</FONT>       @param output Output stream.<a name="line.917"></a>
<FONT color="green">918</FONT>       @param w      Column width.<a name="line.918"></a>
<FONT color="green">919</FONT>       @param d      Number of digits after the decimal.<a name="line.919"></a>
<FONT color="green">920</FONT>       */<a name="line.920"></a>
<FONT color="green">921</FONT>    <a name="line.921"></a>
<FONT color="green">922</FONT>       public void print (PrintWriter output, int w, int d) {<a name="line.922"></a>
<FONT color="green">923</FONT>          DecimalFormat format = new DecimalFormat();<a name="line.923"></a>
<FONT color="green">924</FONT>          format.setDecimalFormatSymbols(new DecimalFormatSymbols(Locale.US));<a name="line.924"></a>
<FONT color="green">925</FONT>          format.setMinimumIntegerDigits(1);<a name="line.925"></a>
<FONT color="green">926</FONT>          format.setMaximumFractionDigits(d);<a name="line.926"></a>
<FONT color="green">927</FONT>          format.setMinimumFractionDigits(d);<a name="line.927"></a>
<FONT color="green">928</FONT>          format.setGroupingUsed(false);<a name="line.928"></a>
<FONT color="green">929</FONT>          print(output,format,w+2);<a name="line.929"></a>
<FONT color="green">930</FONT>       }<a name="line.930"></a>
<FONT color="green">931</FONT>    <a name="line.931"></a>
<FONT color="green">932</FONT>       /** Print the matrix to stdout.  Line the elements up in columns.<a name="line.932"></a>
<FONT color="green">933</FONT>         * Use the format object, and right justify within columns of width<a name="line.933"></a>
<FONT color="green">934</FONT>         * characters.<a name="line.934"></a>
<FONT color="green">935</FONT>         * Note that is the matrix is to be read back in, you probably will want<a name="line.935"></a>
<FONT color="green">936</FONT>         * to use a NumberFormat that is set to US Locale.<a name="line.936"></a>
<FONT color="green">937</FONT>       @param format A  Formatting object for individual elements.<a name="line.937"></a>
<FONT color="green">938</FONT>       @param width     Field width for each column.<a name="line.938"></a>
<FONT color="green">939</FONT>       @see java.text.DecimalFormat#setDecimalFormatSymbols<a name="line.939"></a>
<FONT color="green">940</FONT>       */<a name="line.940"></a>
<FONT color="green">941</FONT>    <a name="line.941"></a>
<FONT color="green">942</FONT>       public void print (NumberFormat format, int width) {<a name="line.942"></a>
<FONT color="green">943</FONT>          print(new PrintWriter(//////System.out.println,true),format,width); }<a name="line.943"></a>
<FONT color="green">944</FONT>    <a name="line.944"></a>
<FONT color="green">945</FONT>       // DecimalFormat is a little disappointing coming from Fortran or C's printf.<a name="line.945"></a>
<FONT color="green">946</FONT>       // Since it doesn't pad on the left, the elements will come out different<a name="line.946"></a>
<FONT color="green">947</FONT>       // widths.  Consequently, we'll pass the desired column width in as an<a name="line.947"></a>
<FONT color="green">948</FONT>       // argument and do the extra padding ourselves.<a name="line.948"></a>
<FONT color="green">949</FONT>    <a name="line.949"></a>
<FONT color="green">950</FONT>       /** Print the matrix to the output stream.  Line the elements up in columns.<a name="line.950"></a>
<FONT color="green">951</FONT>         * Use the format object, and right justify within columns of width<a name="line.951"></a>
<FONT color="green">952</FONT>         * characters.<a name="line.952"></a>
<FONT color="green">953</FONT>         * Note that is the matrix is to be read back in, you probably will want<a name="line.953"></a>
<FONT color="green">954</FONT>         * to use a NumberFormat that is set to US Locale.<a name="line.954"></a>
<FONT color="green">955</FONT>       @param output the output stream.<a name="line.955"></a>
<FONT color="green">956</FONT>       @param format A formatting object to format the matrix elements <a name="line.956"></a>
<FONT color="green">957</FONT>       @param width  Column width.<a name="line.957"></a>
<FONT color="green">958</FONT>       @see java.text.DecimalFormat#setDecimalFormatSymbols<a name="line.958"></a>
<FONT color="green">959</FONT>       */<a name="line.959"></a>
<FONT color="green">960</FONT>    <a name="line.960"></a>
<FONT color="green">961</FONT>       public void print (PrintWriter output, NumberFormat format, int width) {<a name="line.961"></a>
<FONT color="green">962</FONT>          output.println();  // start on new line.<a name="line.962"></a>
<FONT color="green">963</FONT>          for (int i = 0; i &lt; m; i++) {<a name="line.963"></a>
<FONT color="green">964</FONT>             for (int j = 0; j &lt; n; j++) {<a name="line.964"></a>
<FONT color="green">965</FONT>                String s = format.format(A[i][j]); // format the number<a name="line.965"></a>
<FONT color="green">966</FONT>                int padding = Math.max(1,width-s.length()); // At _least_ 1 space<a name="line.966"></a>
<FONT color="green">967</FONT>                for (int k = 0; k &lt; padding; k++)<a name="line.967"></a>
<FONT color="green">968</FONT>                   output.print(' ');<a name="line.968"></a>
<FONT color="green">969</FONT>                output.print(s);<a name="line.969"></a>
<FONT color="green">970</FONT>             }<a name="line.970"></a>
<FONT color="green">971</FONT>             output.println();<a name="line.971"></a>
<FONT color="green">972</FONT>          }<a name="line.972"></a>
<FONT color="green">973</FONT>          output.println();   // end with blank line.<a name="line.973"></a>
<FONT color="green">974</FONT>       }<a name="line.974"></a>
<FONT color="green">975</FONT>    <a name="line.975"></a>
<FONT color="green">976</FONT>     <a name="line.976"></a>
<FONT color="green">977</FONT>    <a name="line.977"></a>
<FONT color="green">978</FONT>    <a name="line.978"></a>
<FONT color="green">979</FONT>    /* ------------------------<a name="line.979"></a>
<FONT color="green">980</FONT>       Private Methods<a name="line.980"></a>
<FONT color="green">981</FONT>     * ------------------------ */<a name="line.981"></a>
<FONT color="green">982</FONT>    <a name="line.982"></a>
<FONT color="green">983</FONT>       /** Check if size(A) == size(B) **/<a name="line.983"></a>
<FONT color="green">984</FONT>    <a name="line.984"></a>
<FONT color="green">985</FONT>       private void checkMatrixDimensions (FloatMatrix B) {<a name="line.985"></a>
<FONT color="green">986</FONT>          if (B.m != m || B.n != n) {<a name="line.986"></a>
<FONT color="green">987</FONT>             throw new IllegalArgumentException("FloatMatrix dimensions must agree.");<a name="line.987"></a>
<FONT color="green">988</FONT>          }<a name="line.988"></a>
<FONT color="green">989</FONT>       }<a name="line.989"></a>
<FONT color="green">990</FONT>    <a name="line.990"></a>
<FONT color="green">991</FONT>    public int getColumns()<a name="line.991"></a>
<FONT color="green">992</FONT>    {<a name="line.992"></a>
<FONT color="green">993</FONT>        <a name="line.993"></a>
<FONT color="green">994</FONT>        return n;<a name="line.994"></a>
<FONT color="green">995</FONT>    }<a name="line.995"></a>
<FONT color="green">996</FONT>    <a name="line.996"></a>
<FONT color="green">997</FONT>    public Matrix getDeepTraspose()<a name="line.997"></a>
<FONT color="green">998</FONT>    {<a name="line.998"></a>
<FONT color="green">999</FONT>        return this.transpose();<a name="line.999"></a>
<FONT color="green">1000</FONT>    }<a name="line.1000"></a>
<FONT color="green">1001</FONT>    <a name="line.1001"></a>
<FONT color="green">1002</FONT>    public int getRows()<a name="line.1002"></a>
<FONT color="green">1003</FONT>    {<a name="line.1003"></a>
<FONT color="green">1004</FONT>        // TODO Auto-generated method stub<a name="line.1004"></a>
<FONT color="green">1005</FONT>        return m;<a name="line.1005"></a>
<FONT color="green">1006</FONT>    }<a name="line.1006"></a>
<FONT color="green">1007</FONT>    <a name="line.1007"></a>
<FONT color="green">1008</FONT>    public Matrix getShallowTraspose()<a name="line.1008"></a>
<FONT color="green">1009</FONT>    {<a name="line.1009"></a>
<FONT color="green">1010</FONT>        <a name="line.1010"></a>
<FONT color="green">1011</FONT>        return this.transpose();<a name="line.1011"></a>
<FONT color="green">1012</FONT>    }<a name="line.1012"></a>
<FONT color="green">1013</FONT>    <a name="line.1013"></a>
<FONT color="green">1014</FONT>    public float getValue(int row, int column)<a name="line.1014"></a>
<FONT color="green">1015</FONT>    {<a name="line.1015"></a>
<FONT color="green">1016</FONT>        // TODO Auto-generated method stub<a name="line.1016"></a>
<FONT color="green">1017</FONT>        return this.get(row, column);<a name="line.1017"></a>
<FONT color="green">1018</FONT>    }<a name="line.1018"></a>
<FONT color="green">1019</FONT>    <a name="line.1019"></a>
<FONT color="green">1020</FONT>    public Matrix multiply(Matrix other)<a name="line.1020"></a>
<FONT color="green">1021</FONT>    {<a name="line.1021"></a>
<FONT color="green">1022</FONT>        if (other.getRows() != this.getColumns()) {<a name="line.1022"></a>
<FONT color="green">1023</FONT>            throw new IllegalArgumentException("FloatMatrix inner dimensions must agree.");<a name="line.1023"></a>
<FONT color="green">1024</FONT>         }<a name="line.1024"></a>
<FONT color="green">1025</FONT>         FloatMatrix X = new FloatMatrix(this.getRows(),other.getColumns());<a name="line.1025"></a>
<FONT color="green">1026</FONT>         float[][] C = X.getArray();<a name="line.1026"></a>
<FONT color="green">1027</FONT>         float[] Bcolj = new float[n];<a name="line.1027"></a>
<FONT color="green">1028</FONT>         for (int j = 0; j &lt; other.getColumns(); j++) {<a name="line.1028"></a>
<FONT color="green">1029</FONT>            for (int k = 0; k &lt; n; k++) {<a name="line.1029"></a>
<FONT color="green">1030</FONT>               Bcolj[k] = other.getValue(k,j);<a name="line.1030"></a>
<FONT color="green">1031</FONT>            }<a name="line.1031"></a>
<FONT color="green">1032</FONT>            for (int i = 0; i &lt; m; i++) {<a name="line.1032"></a>
<FONT color="green">1033</FONT>               float[] Arowi = A[i];<a name="line.1033"></a>
<FONT color="green">1034</FONT>               float s = 0;<a name="line.1034"></a>
<FONT color="green">1035</FONT>               for (int k = 0; k &lt; n; k++) {<a name="line.1035"></a>
<FONT color="green">1036</FONT>                  s += Arowi[k]*Bcolj[k];<a name="line.1036"></a>
<FONT color="green">1037</FONT>               }<a name="line.1037"></a>
<FONT color="green">1038</FONT>               C[i][j] = s;<a name="line.1038"></a>
<FONT color="green">1039</FONT>            }<a name="line.1039"></a>
<FONT color="green">1040</FONT>         }<a name="line.1040"></a>
<FONT color="green">1041</FONT>         return X;<a name="line.1041"></a>
<FONT color="green">1042</FONT>    }<a name="line.1042"></a>
<FONT color="green">1043</FONT>    <a name="line.1043"></a>
<FONT color="green">1044</FONT>    public void setValue(int row, int column, float value)<a name="line.1044"></a>
<FONT color="green">1045</FONT>    {<a name="line.1045"></a>
<FONT color="green">1046</FONT>        this.set(row, column, value);<a name="line.1046"></a>
<FONT color="green">1047</FONT>        <a name="line.1047"></a>
<FONT color="green">1048</FONT>    }<a name="line.1048"></a>
<FONT color="green">1049</FONT>    <a name="line.1049"></a>
<FONT color="green">1050</FONT>    public float multiply(Matrix other, int thisRow, int otherColumn)<a name="line.1050"></a>
<FONT color="green">1051</FONT>    {<a name="line.1051"></a>
<FONT color="green">1052</FONT>        float sum = 0;<a name="line.1052"></a>
<FONT color="green">1053</FONT>        for(int i=0; i&lt;other.getRows(); i++)<a name="line.1053"></a>
<FONT color="green">1054</FONT>            sum = other.getValue(i, otherColumn)*this.getValue(thisRow, i);<a name="line.1054"></a>
<FONT color="green">1055</FONT>        return sum;<a name="line.1055"></a>
<FONT color="green">1056</FONT>    }<a name="line.1056"></a>
<FONT color="green">1057</FONT>    <a name="line.1057"></a>
<FONT color="green">1058</FONT>    }<a name="line.1058"></a>
<FONT color="green">1059</FONT>    <a name="line.1059"></a>




























































</PRE>
</BODY>
</HTML>
